$primary-color: #858694;
$secondary-color: #f5913e;
$tertiary-color: #e0e0e0;

.main-cal {
  background-color: $primary-color;

  .row {
    .col {
      width: 350px;
      background-color: $secondary-color;

      .output {
        background-color: $primary-color;
      }
    }
  }
}
